@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  border: 1px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 95%);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-size: 15px;
}
.container {
  height: 75vh;
  width: 50%;
  display: flex;
}
.item1 {
  background-color: hsl(31, 77%, 52%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid whitesmoke;
  border-radius: 10px 0px 0px 10px;
}
.item2 {
  background-color: hsl(184, 100%, 22%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid whitesmoke;
}
.item3 {
  background-color: hsl(179, 100%, 13%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid whitesmoke;
  border-radius: 0px 10px 10px 0px;
}
h2 {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
}
article {
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(0, 0%, 95%);
}
img {
  height: 40px;
  width: 60px;
}
